@using System.Globalization 
@model FinancesMVC.Models.Transaction;

@{
    ViewData["Title"] = "Edit";
    string day = ViewBag.Date.ToString("dd");
    CultureInfo culture = new CultureInfo("en-US");
    string month = ViewBag.Date.ToString("MMMM", culture);
    string shortTime = ViewBag.Date.ToString("HH:mm");
}

<h1>Note "@ViewBag.Purpose" on @day of @month at @shortTime</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-categoryId="@ViewBag.CategoryId"
              asp-route-categoryName="@ViewBag.CategoryName">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="Date" />
            <input type="hidden" asp-for="BudgetOverflown" />
            <input type="hidden" asp-for="MessageId" />
            <input type="hidden" asp-for="CompletedAchievementId" />
            <input type="hidden" asp-for="ExpenditureCategoryId" />
            <div class="form-group">
                <label asp-for="ExpenditureNote" class="control-label"></label>
                <input asp-for="ExpenditureNote" class="form-control" />
                <span asp-validation-for="ExpenditureNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoneySpent" class="control-label"></label>
                <input asp-for="MoneySpent" class="form-control" formnovalidate/>
                <span asp-validation-for="MoneySpent" class="text-danger"></span>
            </div>
            <input style="margin-top:5%"  id="save-btn" class="btn btn-primary" type="submit" value="Save" />
        </form>
    </div>
</div>

<a style="margin-top:1%" class="btn btn-outline-primary" class="btn btn-primary" asp-action="Index" asp-route-id="@ViewBag.CategoryId"
   asp-route-name="@ViewBag.CategoryName">Back to List</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
