@model IEnumerable<FinancesMVC.Models.UserProfile>

@{
    ViewData["Title"] = "Index";
}

<div style="display:flex;">

    <div style="display:flex; flex-direction: column; flex: 1; width: 50%">
        <h1>Your profile</h1>

        <table class="table">
            <thead></thead>
            <tbody>
                <tr>
                    <th>
                        @(Html.DisplayNameFor(model => model.FirstName).ToString() + ":")
                        @(!string.IsNullOrWhiteSpace(Html.DisplayFor(modelItem => Model.First().FirstName).ToString())
                            ? "not specified" : Html.DisplayFor(modelItem => Model.First().FirstName))
                    </th>
                </tr>
                <tr>
                    <th>

                        @(Html.DisplayNameFor(model => model.LastName).ToString() + ":")
                        @(!string.IsNullOrWhiteSpace(Html.DisplayFor(modelItem => Model.First().LastName).ToString())
                            ? "not specified" : Html.DisplayFor(modelItem => Model.First().LastName))
                    </th>

                </tr>
                <tr>
                    <th>
                        @(Html.DisplayNameFor(model => model.Birthdate).ToString() + ":")
                        @(!string.IsNullOrWhiteSpace(Html.DisplayFor(modelItem => Model.First().Birthdate).ToString())
                            ? "not specified" : Html.DisplayFor(modelItem => Model.First().Birthdate))
                </tr>
                <tr>
                    <th>
                        @(Html.DisplayNameFor(model => model.Country).ToString() + ":")
                        @(!string.IsNullOrWhiteSpace(Html.DisplayFor(modelItem => Model.First().Country).ToString())
                            ? "not specified" : Html.DisplayFor(modelItem => Model.First().Country))
                </tr>
                <tr>
                    <th>
                        @(Html.DisplayNameFor(model => model.AboutMe).ToString() + ":")
                        @(!string.IsNullOrWhiteSpace(Html.DisplayFor(modelItem => Model.First().AboutMe).ToString())
                            ? "not specified" : Html.DisplayFor(modelItem => Model.First().AboutMe))
                </tr>
            </tbody>
        </table>
    </div>


    <div id="uandpp" style="display:flex; flex-direction: column; flex: 1; width: 50%">
@*         <h1>&commat; @Html.DisplayFor(modelItem => Model.First().User.UserName)</h1>
 *@        <img id="profile-pic" alt="profile pic" src="https://www.shutterstock.com/image-vector/default-avatar-profile-icon-social-600nw-1677509740.jpg">
    </div>
</div>

<a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.First().Id">Edit</a>